@tailwind base;
@tailwind components;
@tailwind utilities;

.form-select {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-8 -8 39 39" stroke-width="1.1" stroke="gray"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>');
  background-position: 100%;
  background-repeat: no-repeat;
}
